.title{
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 30px;
}
.decription{
    text-align: center;
    font-size: 20px;
    gap: 50px;
}
.mainContainer{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    box-sizing: border-box;
}
.infoContainer{
    width:600px;
    text-align: right;
}
.photo{
    margin-right: 40px;
}