.lesson1-container {
  /* делаем flex контейнер */
  display: flex;
  /* меняем направление главной оси на вертикальное */
  flex-direction: column;
  /* выравниваем по центру */
  align-items: center;
  font-size: 25px;
}
#lesson1{
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.h5{
  padding-top: 20px;
}