.header{
    width: 100%;
    background-color: orange;
    height: 80px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header > a:hover{
    text-decoration: underline;
}
.header > span{
    color: rgb(104, 50, 251);
    margin-right: 20px;
}
.active{
    text-decoration: underline;
    font-weight: 900;

}