.loginForm{
    display: flex;
    flex-direction: column;
}
.loginForm > input{
    margin-bottom: 3px;
}
.loginForm > button{
    background-color: rgb(91, 72, 199);
    border: none;
}
.invisible{
    display: none;
}
.visible{
    display: flex;
}