*{
    background-color: white;
}
#card{
    text-align: center;
    padding: 20px;

}
.cards{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 100px;

}

#photo{
    border-radius: 15%;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 20px;

}
.card.dark {
    background-color: #333;
    color: rgb(206, 84, 84);
}
.card.dark.h4{
    background-color: #333;
}
.card.light {
    background-color: #f0f0f0;
    color: black;
}
#title{
    margin-top: 100px;
    color: red;
    font-family: monospace;
    font-size: 50px;
}